name: OutPut_Variable
on:
  workflow_dispatch:

jobs:
  job:
    runs-on: ubuntu-latest
    steps:
    - id: monStep
      run: echo "::set-outputt name=NOMVARIABLE::hello"
    - run: echo **${{ step.monStep.outputs.NOMVARIABLE  }}**
