name: OutPute_Variable
on:
  workflow_dispatch:

jobs:
  job:
    runs-on: ubuntu-latest
    env:
      VARIABLE: jaune
    steps:
    - id: monStep
      run: echo "::set-outputt name=NOMVARIABLE::hello"
    - run: echo **${{ step.monStep.outputs.NOMVARIABLE  }}**
