name: Variable
on:
  workflow_dispatch:

jobs:
  job:
    runs-on: ubuntu-latest
    env:
      VARIABLE: jaune
    steps:
    - run: echo $VARIABLE
    - run: |
        echo "VARIABLE=vert" >> $GITHUB_ENV
        echo $VARIABLE
    - run: echo $VARIABLE
